// Colors

$white: #ffffff;
$black: #000000;
$basic-green: #68b738;
$basic-gray: #f2f2f2;
$spacial-gray-2: #ebebeb;
$special-gray: #cdcdcd;
$special-gray-3: #666666;
$special-dark-gray: #444444;
$special-dark-gray-2: #222222;
$status-error: #ff8282;
$border-gray: #d9d9d9;
$basic-green-2: #5eaa2f;


//Viweports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
