.about-work {
  .title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
  }
}

.about-work__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  .pin {
    width: 60px;
    height: 60px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px 154px;

    .pin {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 36px 96px;
  }
}
