.about-work {
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
  }
}

.about-work__title {
  margin: 0;
  margin-left: 2px;
}

.about-work__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 40px;
  margin-left: 1px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 133px 60px;
    counter-reset: counter;
    margin: 0;
    margin-top: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 36px 80px;
  }
}

.about-work__item {
  display: flex;
  gap: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: 230px;
    counter-increment: section;
  }
}

.about-work__item::before {
  @media (min-width: $tablet-width) {
    content: counter(section);
    position: absolute;
    color: $basic-gray;
    font-size: 280px;
    line-height: 201px;
    text-align: center;
    top: 0;
    right: -18px;
    z-index: -1;
  }
}


.about-work__pin {
  width: 60px;
  height: 60px;
  background-color: $basic-green;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.about-work__pin-image {
  @media (min-width: $tablet-width) {
    margin: 11px;
  }
}

.about-work__description {
  margin: 0;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
    min-width: 260px;
  }
}

.about-work__line-break {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
