.additional-goods {
  @media (min-width: $desktop-width) {
    display: flex;
  }

  .group-title {
    font-size: 24px;
    line-height: 24px;
  }
}

.additional-goods__gift {
  padding: 56px 60px;
  text-align: center;
}
