.additional-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 244px;
    padding: 28px 38px;
    border: 1px solid $border-gray;

    &:not(:first-child) {
      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 38px;
  }

  .title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .details {
    display: flex;
    justify-content: space-between;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: $special-dark-gray;
  }
}

.additional-card__button {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 1/-1;
  }
}
