.body {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: $white;
}

.body__header {
  margin: 0;
  padding: 10px 20px 12px 20px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 16px;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 102px 47px 110px;
  }
}
