.example {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $special-gray;
  margin-top: 49px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 366px 1fr;
    padding-top: 42px;
    padding-bottom: 86px;
    background: linear-gradient($white 62%, $special-gray 62%)
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 22px;
    padding-bottom: 62px;
    gap: 0 140px;
  }
}

.example__title {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.example__description {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin-top: 64px;
    padding-right: 6px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-top: 114px;
  }
}

.example__coasts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    margin-top: 52px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-top: 44px;
    margin-right: 80px;
  }
}

.example__coast {
  position: relative;
  margin: 0;
  text-align: center;

  .result {
    box-sizing: border-box;
    min-width: 124px;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 18px;
    border: 1px solid $border-gray;
    border-radius: 3px;
    font-size: 24px;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      min-width: 162px;
      font-size: 30px;
      line-height: 37px;
    }
  }

  .description {
    position: absolute;
    max-width: 70px;
    font-size: 12px;
    line-height: 12px;
    bottom: -12px;
    left: 26px;

    @media (min-width: $tablet-width) {
      min-width: 142px;
      font-size: 14px;
      line-height: 14px;
      bottom: -8px;
      left: 10px;
    }

    @media (min-width: $desktop-width) {
      bottom: 25px;
    }
  }
}

.example__chages-list {
  display: flex;
  justify-content: space-around;
}

.example__slider {
  margin-top: 20px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin-top: 106px;
    margin-left: 74px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
    grid-row: 1/5;
    margin-top: 24px;
    margin-bottom: 0;
  }
}

.example__expenses {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-top: 32px;
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    font-size: 20px;
    line-height: 29px;
    max-width: 174px;
    text-align: end;
    justify-self: end;
    align-self: flex-end;
    margin: 0;
    margin-right: 2px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    justify-self: start;
    max-width: none;
    margin: 0;
    text-align: start;
    justify-self: start;
    align-self: center;
  }
}
