.feature-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-areas: "image title" "description description" "link link";
  gap: 20px;
  background-color: $basic-gray;
  padding: 30px 20px 22px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-template-columns: 1fr 200px;
    grid-template-areas: "title image" "description image" "link image";
  }
}

.feature-item__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  grid-area: title;
  vertical-align: middle;
}

.feature-item__image {
  grid-area: image;
}

.feature-item__description {
  margin: 0;
  padding-bottom: 20px;
  grid-area: description;
  border-bottom: 1px solid $border-gray;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.feature-item__link {
  grid-area: link;
}
