.form {
  display: grid;
  margin-top: 39px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 65px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    padding-bottom: 82px;
  }
}

.form__parameters {
  border: none;
  grid-column: 1/-1;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.form__parameters-list {
  display: flex;
  flex-direction: column;
  gap: 13px;

  @media (min-width: $tablet-width) {
    gap: 23px;
  }
}

.form__programmes-type {
  border: none;
  grid-column: 1/-1;
  margin-top: 48px;

  @media (min-width: $tablet-width) {
    margin-top: 74px;
    padding: 28px;
    border: 1px solid $border-gray;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
    margin-top: 3px;
  }
}

.form__programmes-type-list {
  display: flex;
  flex-direction: column;
  gap: 19px;

  @media (min-width: $tablet-width) {
    gap: 23px;
  }
}

.form__programmes-type-item {
  position: relative;
  padding-left: 34px;

  @media (min-width: $tablet-width) {
    padding-left: 48px;
  }
}

.form__input {
  appearance: none;
}

.form__item:hover .form__programmes-radio-mark,
.form__item:focus .form__programmes-radio-mark,
.form__item:hover .form__checkbox-mark,
.form__item:focus .form__checkbox-mark {
  border-color: #bababa;
  outline: none;
}

.form__item:active {
  opacity: 0.3;
}

.form__programmes-radio-mark {
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid $special-gray;
  border-radius: 50%;
  left: 0;
  top: -4px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__input[type="radio"]:checked + .form__programmes-radio-mark {
  background: url("../img/radio-mark.svg") center no-repeat;
  background-size: 14px;

  @media (min-width: $tablet-width) {
    background-size: 18px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label--input {
  color: $special-dark-gray;
}

.form__label--radio {
  color: $special-dark-gray-2;
}

.form__label-checkbox {
  color: $black;
}

.form__owner-contacts {
  position: relative;
  grid-column: 1/-1;
  margin-top: 50px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-top: 81px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -3px;
  }
}

.form__owner-contacts-title {
  @media (min-width: $desktop-width) {
    max-width: 520px;
  }
}

.form__owner-contacts-title::before,
.form__owner-contacts-title::after {
  content: "";
  position: absolute;
  top: 8%;
  left: 72%;
  height: 2px;
  width: 1000%;
  background-color: $basic-green;
}

.form__owner-contacts-title::before {
  @media (min-width: $tablet-width) {
    left: 88%;
  }

  @media (min-width: $desktop-width) {
    left: 45%;
  }
}

.form__owner-contacts-title::after {
  @media (min-width: $tablet-width) {
    left: -1006%;
  }

  @media (min-width: $desktop-width) {
    left: -1003%;
  }
}

.form__owner-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    gap: 24px;
    margin-top: 80px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 58px;
  }
}

.form__owner-contacts-item {
  position: relative;

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.form__owner-contacts-input-image {
  position: absolute;
  right: 14px;
  top: 16px;
  z-index: 1;
}

.form__comment {
  position: relative;
  grid-column: 1/-1;
  margin-top: 24px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-top: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -8px;
  }
}

.form__comment-title {
  max-width: 122px;
  margin-top: 1px;
}

.form__comment-title::before,
.form__comment-title::after {
  content: "";
  position: absolute;
  top: 6%;
  left: 51%;
  height: 2px;
  width: 1000%;
  background-color: $basic-green;
}

.form__comment-title::before {
  @media (min-width: $tablet-width) {
    left: 35%;
  }

  @media (min-width: $desktop-width) {
    left: 18%;
  }
}

.form__comment-title::after {
  @media (min-width: $tablet-width) {
    left: -1006%;
  }

  @media (min-width: $desktop-width) {
    left: -1003%;
  }
}

.form__comment-area {
  margin: 0;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 81px;
  }
}

.form__textarea {
  box-sizing: border-box;
  padding: 0;
  padding-top: 5px;
  width: 100%;
  min-height: 150px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    text-align: start;
    padding-top: 10px;
    padding-left: 18px;
    min-height: 174px;
  }
}

.form__additionally {
  position: relative;
  grid-column: 1/-1;
  margin-top: 18px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -13px;
  }
}

.form__additionally-title::before,
.form__additionally-title::after {
  content: "";
  position: absolute;
  top: 7%;
  left: 58%;
  height: 2px;
  width: 1000%;
  background-color: $basic-green;
}

.form__additionally-title::before {
  @media (min-width: $tablet-width) {
    top: 9%;
    left: 40%;
  }

  @media (min-width: $desktop-width) {
    top: 16%;
    left: 21%;
  }
}

.form__additionally-title::after {
  @media (min-width: $tablet-width) {
    top: 9%;
    left: -1006%;
  }

  @media (min-width: $desktop-width) {
    top: 16%;
    left: -1003%;
  }
}

.form__additionally-list {
  display: grid;
  gap: 19px;
  margin-top: 36px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 42px 60px;
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 80px;
    margin-top: 67px;
  }
}

.form__additionally-item {
  position: relative;
  padding-left: 36px;

  @media (min-width: $tablet-width) {
    padding-left: 48px;
  }
}

.form__checkbox-mark {
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid $special-gray;
  left: 0;
  top: -4px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__input[type="checkbox"]:checked + .form__checkbox-mark {
  background: url("../img/checkbox-mark.svg") center no-repeat;
  background-size: 14px;

  @media (min-width: $tablet-width) {
    background-size: 18px;
  }
}

.form__button {
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    max-width: 282px;
    margin-top: 59px;
    padding: 17px 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: -14px;
    min-width: 568px;
  }
}

.form__legend {
  font-family: "Arial", sans-serif;
  font-size: 17px;
  margin: 0;
  margin-top: 20px;
  text-align: center;
  grid-column: 2/-1;

  @media (min-width: $tablet-width) {
    margin-top: 72px;
    padding-left: 31px;
    text-align: start;
    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-left: 1px;
  }
}

.form__input-set {
  display: flex;
  gap: 12px;
  align-items: center;

  @media (min-width: $tablet-width) {
    gap: 18px;
  }

  .input {
    flex-grow: 1;
  }
}

.form__input-set:hover .input {
  border: 1px solid $special-gray;
}

.form__input-set:focus .input {
  border: 1px solid $special-dark-gray;
  outline: 1px solid $special-dark-gray;
}
