.main-nav {
  position: relative;
  display: flex;
  z-index: 1;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 16px;
  background-color: $white;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--close .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 0px;
  width: 24px;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

.main-nav--open .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    right: -1px;
    width: 26px;
    height: 1px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--close .main-nav__list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav--open .main-nav__list {
  display: block;
}

.main-nav__list {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    min-width: 320px;
    top: 52px;
    left: -300px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    gap: 14px;
    margin: 0;
  }
}

.main-nav__item {
  padding: 10px;
  background-color: transparent;

  @media (max-width: $mobile-width-only) {
    background-color: $white;
    border-top: 1px solid $border-gray;
  }

  @media (max-width: $tablet-width) {
    padding: 21px 0;
    text-align: center;
  }
}

.main-nav__link {
  @media (max-width: $mobile-width-only) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
  }
}

.main-nav__link:hover,
.main-nav__link:focus {
  opacity: 0.6;
  outline: none;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__link--index {
  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.main-nav__current-page {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
    padding-bottom: 7px;
  }
}

.main-nav__current-page--index {
  @media (min-width: $desktop-width) {
    border-color: $white;
  }
}
