.main-conteiner {
  margin: 0 auto;

  .main-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }

  .main-description {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.main-conteiner__catalog-title {
  padding: 0 20px;
  padding-top: 27px;
  padding-bottom: 37px;
  border-bottom: 1px solid $spacial-gray-2;
}

.wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}
