.product-card {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-areas: "image title" "image details" "button button";
  margin: 0;
  border-bottom: 1px solid $spacial-gray-2;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 234px 69px 104px 57px;
    grid-template-areas: "image" "title" "details" "button";
    padding: 38px;
    background: linear-gradient($white 15%, $basic-gray 15%);
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 242px 67px 104px 57px;
    padding: 0 36px;
  }
}

.product-card__title {
  max-width: 76px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  grid-area: title;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;
    justify-self: center;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
    margin-left: 6px;
  }
}

.product-card__image-wrapper {
  display: block;
  grid-area: image;
  justify-self: center;
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
  }
}

.product-card__image {
  @media (min-width: $tablet-width) {
    min-width: 168px;
  }

  @media (min-width: $desktop-width) {
    min-width: 172px;
  }
}

.product-card__details {
  grid-area: details;
  margin-top: 0;

  @media (min-width: $desktop-width) {
    margin-left: 6px;
    margin-right: 2px;
  }
}

.product-card__detail {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-gray;

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
    padding-bottom: 7px;
    font-size: 16px;
    border-bottom: 1px solid $border-gray;
  }
}

.product-card__button {
  grid-area: button;
}

.product-card--small {
  padding-top: 21px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 38px;
  }

  .product-card__image-wrapper {
    margin-top: 12px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  .product-card__details {
    margin-top: 12px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  .product-card__button {
    margin-top: 22px;

    @media (min-width: $tablet-width) {
      margin-top: auto;
    }
  }
}

.product-card--large {
  padding-top: 20px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 38px;
  }

  .product-card__image-wrapper {
    margin-top: 10px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  .product-card__button {
    margin-top: 10px;

    @media (min-width: $tablet-width) {
      margin-top: auto;
    }
  }
}
