.product-card {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-areas: "image title" "image details" "button button";
  max-height: 190px;
  margin: 0;
  padding: 20px 20px 25px 20px;
  border-bottom: 1px solid $spacial-gray-2;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-areas: "image" "title" "details" "button";
    padding: 38px;
    background: linear-gradient($white 25%, $basic-gray 25%);
  }
}

.product-card__title {
  max-width: 76px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  grid-area: title;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product-card__image-small {
  display: block;
  grid-area: image;
  margin: auto;
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    min-width: 161px;
  }

  @media (min-width: $desktop-width) {
    min-width: 172px;
  }
}

.product-card__image-large {
  display: block;
  grid-area: image;
  margin: auto;
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    min-width: 161px;
  }

  @media (min-width: $desktop-width) {
    min-width: 172px;
  }
}

.product-card__details {
  grid-area: details;
  margin-top: 12px;
}

.product-card__detail {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-gray;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    border-bottom: 1px solid $border-gray;
  }
}

.product-card__button {
  grid-area: button;
  margin-top: 20px;
}

.product-card--show-all {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    border: 1px solid $border-gray;
    padding: 38px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 1px;
    background-color: $border-gray;

    @media (min-width: $tablet-width) {
      width: 60px;
    }
  }

  &::before {
    transform: translateX(-50%) rotate(90deg);
  }
}

.product-card__title--show-all {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 78px;
  grid-area: title;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;
    text-align: center;
    margin-top: 160px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product-card__description--show-all {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-gray;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.product-card__button--show-all {
  margin-top: auto;
}
