.programmes {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-cover.png"), url("../img/programmes/bg-cat-greeting-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50% 695px;
    margin-top: -164px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-cover.png"), url("../img/programmes/bg-cat-greeting-desktop@2x.jpg");
    }
  }
}

.programmes__wrapper {
  min-height: 303px;
  text-align: center;
  background-color: $white;
  background-image: url("../img/bg-cover.png"), url("../img/programmes/bg-cat-greeting.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-cover.png"), url("../img/programmes/bg-cat-greeting@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background: none;
    text-align: start;
  }
}

.programmes__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding-top: 28px;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    padding: 36px 230px 0 116px;
    order: 1;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 450px;
    padding: 224px 236px 0 189px;
  }
}

.programmes__description {
  font-family: "Oswald", sans-serif;
  color: $white;
  margin: 0;
  padding-top: 23px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    padding: 0 236px 0 118px;
    order: 2;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
    margin-bottom: 52px;
  }
}

.programmes__picture {
  margin-top: -134px;
  margin-left: 6px;

  @media (min-width: $tablet-width) {
    margin-top: -70px;
    margin-left: 28px;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    margin-top: -118px;
    margin-left: 0;
  }
}

.programmes__features-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    order: 5;
    gap: 30px;
    margin: 0;
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-top: 131px;
  }
}

.programmes__image {
  align-self: center;

  @media (min-width: $tablet-width) {
    order: 4;
    min-width: 710px;
    height: auto;
    margin-top: -50px;
  }

  @media (min-width: $desktop-width) {
    min-width: 552px;
    margin-top: -250px;
    margin-left: 186px;
  }
}

.programmes__button {
  margin: 0 20px;
  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    position: relative;
    top: -37px;
    margin: 0;
    padding: 17px;
    font-size: 20px;
    line-height: 20px;
    max-width: 244px;
    margin-left: 120px;
    order: 3;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 190px;
    top: 0;
  }
}
