.programmes {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $white;
  background-image: url("../img/bg-cover.png"), url("../img/bg-cat-greeting.jpg"), url("../img/bg-cover.png");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  text-align: center;

  @media (min-width: $tablet-width) {
    background: none;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-cover.png"), url("../img/programmes/bg-cat-greeting-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 720px 697px;
    margin-top: -64px;
  }

  .picture {
    order: 4;
  }
}

.programmes__title {
  font-weight: 400;
  margin: 0;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    padding: 0 236px 0 118px;
    order: 1;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 450px;
    padding: 100px 236px 0 118px;
  }
}

.programmes__description {
  font-family: "Oswald", sans-serif;
  color: $white;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    padding: 0 236px 0 118px;
    order: 2;
    margin-bottom: 50px;
  }
}

.programmes__features-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    order: 5;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.programmes__image {
  align-self: center;

  @media (min-width: $tablet-width) {
    order: 4;
    min-width: 710px;
    height: auto;
    margin-top: -50px;
  }

  @media (min-width: $desktop-width) {
    min-width: 552px;
    margin-top: -250px;
    margin-left: 186px;
    padding-bottom: 250px;
  }
}

.programmes__button {
  @media (min-width: $tablet-width) {
    order: 3;
    max-width: 224px;
    margin-left: 118px;
    z-index: 1;
  }
}
