.slider {
  display: grid;
  position: relative;
  overflow: hidden;
  --position: 55%;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__image-container {
  max-width: 280px;
  margin: 0 auto;
  aspect-ratio: 1/1;

  @media (min-width: $tablet-width) {
    max-width: 560px;
    height: 512px;
  }
}

.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.slider__image--before {
  position: absolute;
  inset: 0;
  width: var(--position);
  background-color: $special-gray;

  @media (min-width: $tablet-width) {
    background: linear-gradient($white 29%, $special-gray 29%);
  }
}


.slider__range {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
}

.slider__range:focus-visible ~ .slider__button {
  outline: 5px solid #000000;
  outline-offset: 3px;
}

.slider__line {
  position: absolute;
  inset: 0;
  width: 4px;
  height: 100%;
  background-color: $special-dark-gray;
  border-radius: 2px;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider:hover .slider__line,
.slider:focus .slider__line {
  background-color: $basic-green;
}

.slider:active .slider__line {
  background-color: $basic_green-2;
  opacity: 0.6;
}

.slider__button {
  position: absolute;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  fill: $special-gray-3;
  background-color: $white;
  padding: 8px 6px;
  border-radius: 50%;
  border: 2px solid $special-gray-3;
}

.slider:hover .slider__button,
.slider:focus .slider__button {
  fill: $basic-green;
  border-color: $basic-green;
}

.slider:active .slider__button {
  fill: $basic-green;
  border-color: $basic-green;
  opacity: 0.6;
}
