.button {
  box-sizing: border-box;
  width: 280px;
  margin: 0;
  padding: 8px 44px;
  border: none;
  background-color: #68B738;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.button--show-all {
  background-color: #f2f2f2;
  color: #444444;
}

