.greeting-wrapper {
  background-color: #68b738;
  background-image: url("../img/bg-cover.png"), url("../img/bg-cat-greeting.jpg");
  background-repeat: repeat, no-repeat;

  .main-title {
    color: #ffffff;
  }

  .main-description {
    color: #ffffff;
  }
}
