.greeting-wrapper {
  background-color: #68B738;
  background-image: url("../img/bg-cover.png"), url("../img/bg-cat-greeting.jpg");
  background-repeat: repeat, no-repeat;

  .title {
    color: #ffffff;
  }

  .main-description {
    color: #ffffff;
  }
}
/*
.greeting-wrapper__title {
  margin: 0;
  padding: 26px 36px 0 36px;
}

.greeting-wrapper__description {
  margin: 0;
  padding: 26px 60px 164px 60px;
}
*/
